html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav{
 background-color: rgb(40, 158, 255);   
 padding: 5px;
 text-align: right;
}
nav a{
    color: whitesmoke;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    justify-content: space-around;
}
nav a:hover{
    background-color: mediumturquoise;
}
.contenedor{
    max-width: 1000px;
    margin:0 auto;
}
table{
    border: 1px solid saddlebrown ;
    margin:0;
}
table th{
    width: 500px;
    background-color: salmon;
    border: 1px solid saddlebrown ;
    padding: 10px 15px;
}
table th:first-of-type{
    width: 70px;
}
table th:last-of-type{
    width: 200px;
}
table td{
    border: 1px solid saddlebrown ;
    text-align: center;
    padding: 10px 15px;
}
h2{
    margin: 0;
}
h3{
    margin: 40px auto;
    font-size: 30px;
    text-align: center;
}
h4{
    margin: 40px auto;
    font-size: 20px;
    text-align: center;
}
pre{
    margin:0;
}
.contenedor-formulario{
max-width: 700px;
margin: auto;
margin-top: 150px;
}
.pintar{
    background-color: salmon;
    padding: 50px 30px;
}
.contenedor-formulario h1{
    margin:0;
    text-align: center;
}
input:not(.btn){
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.contenedor-formulario label{
    font-size:22px;
}
.btn{
    display: block;
    width: 120px;
    padding: 8px 20px;
    background-color: #E6F2EE;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    margin:right;
}
.flex{
    display:flex;
    justify-content: space-between;
    max-width: 50%;
}
.contenedor-formulario2{
    max-width: 800px;
    margin: 40px auto;
}
input[type="radio"]{
    width: 30%;;
}
.contenedor2{
    max-width: 1200px;
    margin:50px auto;
}